footer {
    width: 90%;
    margin-top: 5rem;
    margin-inline: auto;
    padding-block: 1.5rem;
    background-color: map-get($map: $colors, $key: "green-sheen");

    &>div {
        flex-direction: column-reverse;
    }

    #copyright {
        font-size: 1.5rem;
    }

    #social-links {
        margin-top: 1rem;

        a {
            svg {
                transition: .3s;
            }

            &:hover {
                svg {
                    fill: map-get($map: $colors, $key: "platinum")
                }
            }
        }

        svg {
            width: 2.2rem;
            height: auto;
        }
    }
}

#social-links a:hover {
    color: map-get($map: $colors, $key: "platinum")
}

@media only screen and (min-width: 850px) {
    footer {

        &>div {
            flex-direction: row;
        }

        #social-links {
            margin: 0;
        }
    }
}

@media only screen and (min-width: 1440px) {
    footer {
        width: 80%;

        &>div {
            flex-direction: row;
        }

        #copyright {
            font-size: 2.2rem;
        }

        #social-links {
            svg {
                width: 3rem;
            }
        }
    }
}