@import "colors";

nav {
    &>div {
        width: 85%;
    }
}

#nav-logo>img {
    width: 20rem;
    height: auto;
}

#nav-links>a {
    margin: 1rem;
    transition: .2s;

    font-weight: bold;
    letter-spacing: 2px;
    color: #181717;

    &:hover {
        color: map-get($map: $colors, $key: "platinum");
    }
}

@media only screen and (min-width: 850px) {
    nav {
        &>div {
            width: 85%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #nav-logo>img {
        width: 25rem;
        height: auto;
    }
}

@media only screen and (min-width: 1440px) {
    nav {
        &>div {
            width: 75%;
        }
    }

    #nav-logo>img {
        width: 35rem;
        height: auto;
    }

}

@media only screen and (min-width: 2100px) {
    #nav-logo>img {
        width: 38rem;
        height: auto;
    }
}

@media only screen and (min-width: 2400px) {
    #nav-logo>img {
        width: 42rem;
        height: auto;
    }
}