@import "../../styles/colors.scss";

.blog-list {
    margin: 0;

    ul {
        list-style-type: none;
        padding: unset;
    }

    ul li {
        display: flex;
        flex-direction: column;

        &>div {
            display: flex;
        }
    }

    ul li time {
        flex: 0 0 130px;
        font-style: italic;
        color: #888;
        font-size: inherit;
    }

    // ul li a:visited {
    //     color: #8e32dc;
    // }

    .date {
        margin-left: 2rem;
    }

    .post {
        display: inline;
        width: fit-content;
    }

    a {
        padding: 1rem;

        margin: auto;

        &:hover {
            color: white !important;

            .title {
                color: map-get($map: $colors, $key: "blue-gray");
            }
        }

        @media only screen and (min-width: 60em) {
            margin-left: 5rem;
        }
    }
}

#pagination {
    margin-top: 6rem;
    width: fit-content;
    margin-inline: auto;
    display: flex;
    align-items: center;

    a, p {
        margin: 0;
    }

    button {
        transition: .1s;
        margin: 1.25rem;
        aspect-ratio: 1;
        width: fit-content;
        padding: clamp(0.8rem, 0.4785714285714286rem + 0.8571428571428572vw, 1.25rem);
        border: none;

        border-radius: 50%;
        background-color: white;
        box-shadow: 1px 1px 8px -2px #000000;

        p {
            margin: 0;
        }
        &:hover {
            background-color: map-get($map: $colors, $key: "blue-gray");

            p {
                color: white;
            }
        }

        &:disabled {
            background-color: rgba(231, 229, 229, 0.6);
            opacity: .75;

            p {
                color: black;
            }
        }
    }

    a {
        color: inherit;
        font-size: inherit;
        box-shadow: none;

        &:hover {
            color: map-get($map: $colors, $key: "blue-gray");
        }
    }

    &>div {
        gap: 1rem;

        .selected {
            color: map-get($map: $colors, $key: "blue-gray");
            text-decoration: underline;
            text-underline-offset: .25rem;
        }
    }
}