---
import Layout from "@layout/Layout.astro";

// import Binder from "@component/team/Binder.astro";
// import Card from "@component/team/Card.astro";
import { Binder } from '@solid/team';
const url = Astro.url;
---

<Layout larger centered>
  <h1 class="text-3xl font-bold">Meet the Team</h1>
  <Binder class="my-4 gap-10" url={url} client:load />
</Layout>
