---
import FAIcon from "../FAIcon.astro";

const { links } = Astro.props;
---

<div id="mobile-menu" class="mobile menu-mobile">
    {
        /* 
     Hamburger menu inspired by Dronca Raul from CodePen
     Dronca Raul: https://codepen.io/rauldronca
     CodePen:     https://codepen.io/rauldronca/pen/jrjqyb
    */
    }

    <div class="menu-overlay">
        <!-- <div class="quick-nav">
            <a href="#header" onclick="linkPress()">
                <FAIcon icon="fas arrow-up-short-wide" />
            </a>
        </div> -->
        <div class="overlay-info">
            {
                links.map((data) => (
                    <a
                        href={data.link}
                        aria-label={data.aria}
                        title={data.title !== "" ? data.title : ""}
                        onclick="linkPress()"
                    >
                        {data.text}
                    </a>
                ))
            }
        </div>

        <!-- <div class="quick-nav">
            <a href="#footer" onclick="linkPress()">
                <FAIcon icon="fas arrow-down-wide-short" />
            </a>
        </div> -->
    </div>

    <div class="menu">
        <span class="menu-circle"></span>
        <input id="mobile-expanded" hidden />
        <button
            class="menu-link"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="Collapse or expand the menu"
            onclick="toggleMenu()"
        >
            <span class="menu-icon">
                <span class="menu-line menu-line-1"></span>
                <span class="menu-line menu-line-2"></span>
                <span class="menu-line menu-line-3"></span>
            </span>
        </button>
    </div>
</div>
