---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    <ul class="flex flex-wrap gap-4 gap-y-6">
      {
        posts.map((post) => (
          <li class="w-[calc(50%-.5rem)] first:w-full">
            <a href={`/blog/${post.slug}/`}>
              <img
               class="rounded-md"
               width={720}
               height={360}
               src={post.data.heroImage}
               alt=""
              />
              <h4 class="text-lg font-bold">{post.data.title}</h4>
              <em class="text-sm">
                <FormattedDate date={post.data.pubDate} />
              </em>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
