@function font-clamp ($offset) {
    $max-font: 8.5;
    $min-font: 4;
    $min-width: 50;
    $max-width: 380;

    // Calculated values
    $min: $min-font - $offset;
    $max: $max-font - $offset;
    $slope: ($max-font - $min-font) / ($max-width - $min-width);
    $inter: ((-1 * $min-width) * $slope)+$min;

    @return clamp(#{$min}rem, #{$inter}rem + #{$slope*100}vw, #{$max}rem);
}

// Create dynamic linear font sizes
@for $i from 1 through 6 {

    h#{$i},
    .h#{$i} {
        font-size: font-clamp(($i - 1) * .5);
    }
}

p,
li,
a {
    font-size: font-clamp(3.5);
}


em,
span,
strong,
del,
time {
    font-size: inherit;
    color: inherit;
}


span {
    font-weight: inherit;
}