/* Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a> */

.anim-floating {
    animation-name: floating;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.anim-twinkle {
    animation-name: twinkle;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.anim-carrousel-show {
    animation-name: carrousel-show;
    animation-duration: 1s;
}
.anim-carrousel-hide {
    animation-name: carrousel-hide;
    animation-duration: 1s;
}

@keyframes floating {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(2rem) rotate(4deg);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes twinkle {
    0% {
        opacity: 0.01;
        transform: rotate(0);
    }
    50% {
        opacity: 0.05;
        transform: rotate(45deg);
    }
    100% {
        opacity: 0.01;
        transform: rotate(90deg)
    }
}

@keyframes carrousel-show {
    0% {
        display: none;
        transform: translateX(100vw);
    }
    1% {
        display: inline-block;
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes carrousel-hide {
    0% {
        display: inline-block;
        transform: translateX(0);
    }
    99% {
        transform: translateX(100vw);
    }
    100% {
        display: none;
    }
}