.logo {
    $size: 3rem;

    width: $size;
    height: $size;

    margin-top: 2rem;

    @media only screen and (min-width: 850px) {
        margin-top: 0;
        $size: 3.75rem;

        width: $size;
        height: $size;
    }

    @media only screen and (min-width: 1440px) {
        $size: 4.25rem;

        width: $size;
        height: $size;
    }

    @media only screen and (min-width: 1900px) {
        $size: 5rem;

        width: $size;
        height: $size;
    }


}