.logo {
    $size: 3.5rem;

    width: $size;
    height: $size;

    margin-top: 2rem;

    @media only screen and (min-width: 850px) {
        margin-top: 0;
    }

    @media only screen and (min-width: 1900px) {
        $size: 5rem;

        width: $size;
        height: $size;
    }
}