@import "../../styles/colors";

.pfp {
    $size: 15rem;

    width: $size;
    height: $size;

    border-radius: 50%;
    box-shadow: 1px 1px 8px -1px black;
    margin-bottom: 2rem;
}

.tm {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-self: center;

    gap: 4rem;

    &>div {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .tm-socials {
        margin-top: 1rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;

        a {
            i {
                transition: .2s;
            }
        }
    }

    .tm-social {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 60em) {
    .tm {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 10rem;
    }
}