---
import "./admonition.scss";
import Note from "./icons/note.astro";
import Important from "./icons/important.astro";
import Question from "./icons/question.astro";
import Fire from "./icons/fire.astro";

const { icon, text } = Astro.props;
---

<div class="admonition mb-6">
    {icon === "note" && <Note />}
    {icon === "important" && <Important />}
    {icon === "question" && <Question />}
    {icon === "fire" && <Fire />}
    <p>
        {text}
    </p>
</div>
