---
import "./admonition.scss";

import FAIcon from "../FAIcons/FAIcon.astro";

const { icon, color, className } = Astro.props;
---

<div class={"admonition " + className}>
    {
        icon !== undefined && (
            <div class="icon">
                <FAIcon
                    icon={icon === undefined ? ["fas", "circle-info"] : icon}
                    klass={
                        color === undefined
                            ? "color-blue-gray"
                            : "color-" + color
                    }
                />
            </div>
        )
    }
    <div>
        <slot />
    </div>
</div>
