---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="h-full flex flex-col justify-center">
        <h1 class="text-4xl font-bold text-center">404 Not Found</h1>
        <p class="text-center mt-8">Oops it looks like the page you are trying to reach doesn't exist!</p>
    </div>
</Layout>