---
import "../styles/animations.css";
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";


---
<script>
    import toast from 'solid-toast';

    document.getElementById("toast-button")?.addEventListener(
        'click', 
        () => toast('Hello user!', {duration: 2000})
    );
</script>
<Layout centered>
  <div class="relative overflow-hidden">
    <img
      class="rounded-full w-[30rem] mx-auto aspect-square opacity-5 anim-twinkle"
      width={1920}
      height={1080}
      src="/images/Wavy_Dots.jpg"
      alt=""
    />
    <img
      class="w-[15rem] absolute top-[25%] left-[30%] anim-floating"
      width={1440}
      height={720}
      src="/images/casual-life-3d-cat-astronaut.png"
      alt=""
    />
  </div>
  <div class="flex flex-col text-sm w-full items-center mt-4 text-slate-700/20">
    <span>
      Illustration by <a
        href="https://icons8.com/illustrations/author/zD2oqC8lLBBA"
        class="text-blue-300/30 underline">Icons 8</a
      > from <a
        href="https://icons8.com/illustrations"
        class="text-blue-300/30 underline">Ouch!</a
      ></span
    >
    <span
      ><a
        href="https://www.freepik.com/free-vector/black-wave-halftone-background_7647150.htm#query=random%20dots&position=1&from_view=keyword&track=ais"
        class="text-blue-300/30 underline">Image by alicia_mb</a
      > on Freepik</span
    >
  </div>
  <button
    id="toast-button"
    class="py-2 px-4 my-4 bg-emerald-300 rounded-md text-slate-100 hover:bg-emerald-300/80 hover:text-slate-300"
  >
    Hello!
  </button>
</Layout>
