---
import { Admonition } from "../components/admonition/admonition";
import Footer from "../components/footer/footer.astro";
import Head from "../components/Head.astro";
import Trailer from "../components/Trailer/Trailer.astro";
---

<html lang="en">
    <head>
        <Head title="Home" />
    </head>
    <body>
        <nav>
            <div
                class="d-flex justify-content-between align-items-end p-1 m-auto"
            >
                <div id="nav-logo">
                    <img
                        src="images/Logo-1.png"
                        alt="Logo"
                        aria-label="Three cats in basket logo"
                    />
                </div>
                <div id="nav-links">
                    <a href="#about" aria-label="About Section Link"> About</a>
                    <a href="#projects" aria-label="Projects Section Link">
                        Projects</a
                    >
                    <a href="#team" aria-label="Team Section Link"> Team</a>
                    <a href="#" aria-label="Blog Link" title="Coming Soon!">
                        Blog</a
                    >
                </div>
            </div>
        </nav>
        <div id="about" class="p-block-4">
            <div class="content m-auto">
                <div>
                    <div class="h1 header">
                        <strong>About</strong>
                    </div>
                    <p class="text-indent mb-4">
                        Totally Not a Bunch of Cats is a small, just for fun,
                        game development group looking to make enjoyable
                        content. We all strive to learn about game development
                        and the tools used with it.
                    </p>

                    <Admonition color="mustard" icon="triangle-exclamation">
                        <p>
                            We don't currently have any games finished, but we
                            are working on our first right now.
                        </p>
                    </Admonition>

                    <p class="h2 mb-4 text-align-center">Workflow</p>
                    <p class="text-indent mb-6">
                        The core components that we use for creating games
                        include, task management, source control, communication,
                        and a game engine. Let's start with the task management.
                    </p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="svg/logo-gradient-blue-jira.svg"
                            alt="Jira Logo"
                            class="m-block-2"
                            title="Jira"
                        />
                    </div>
                    <p class="text-indent fit-content mb-6">
                        For task management and time logging our team chose to
                        use Jira. The customizability, automation, integration
                        with source control, and other amazing features make
                        Jira the best pick for our team. Speaking of source
                        control integration let's descuss that next.
                    </p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="images/Octocat.png"
                            alt="Github"
                            title="Github"
                            class="m-block-2 w-10"
                        />
                    </div>
                    <p class="text-indent mb-6">
                        For source control we are using Github. We create a
                        branch for eash Jira issue we are working on. When we
                        commit our changes we can create a Pull Request (PR) to
                        merge into the main branch. All of these steps trigger
                        automatimation in Jira which keeps everything up to
                        date.
                    </p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="svg/logo-discord.svg"
                            alt="Discord"
                            title="Discord"
                            class="m-block-2 w-5"
                        />
                    </div>
                    <p class="text-indent mb-6">
                        With many 'Gamers' using Discord as a form of
                        communication it is really natural for our team to use
                        it as well. Everyone on the team has experience with the
                        software and it is a familiar tool. This is the main
                        reason our team chose to use Discord.
                    </p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="svg/U_Logo_Black_RGB.svg"
                            alt="Unity"
                            title="Unity"
                            class="mt-2 w-15"
                        />
                    </div>
                    <p class="text-indent">
                        There are a few choices for what game engine to use
                        while building a game. There is Godo, Unreal Engine, and
                        Unity as the big three. Most people on our team went to
                        the same school and got the same game design degree.
                        With this we were all introduced to Unity and were most
                        familiar with the engine. This is why Unity is our
                        primary game engine.
                    </p>
                    <p class="text-indent mt-2">
                        In the future we plan to explore some new tools such as
                        different game engines. Future projects may involve
                        these new tools or we may decide that our current
                        workflow is a good standard for our team.
                    </p>
                </div>
            </div>
        </div>

        <div id="projects" class="p-block-4">
            <div class="content m-auto">
                <div>
                    <div class="h1 header">
                        <strong>Projects</strong>
                    </div>
                    <div id="projects-featured">
                        <div
                            class="d-flex flex-column align-items-center m-block-2"
                        >
                            <Trailer />
                            <p class="h3 m-block-2">
                                <strong class="color-cinnamon-satin"
                                    >Featured:</strong
                                > Herding Cats
                            </p>
                        </div>

                        <p class="text-indent m-block-2">
                            Herding Cats is a short, fun to play, puzzle game.
                            Use items such as the scratching post or the catnip
                            to lure the cats into their cage. Be careful, as
                            walls and traps can get in your way.
                        </p>

                        <p class="text-indent m-block-2">
                            This puzzle game is easy to pick up and play. It
                            uses turn based strategy and puzzle solving. Can you
                            to get all the cats into the cage with easily? Or
                            will they cats playful behavior get the best of you?
                        </p>
                    </div>

                    <div class="seporator cinnamon-satin"></div>

                    <div id="projects-current">
                        <div
                            class="d-flex flex-column align-items-center m-block-2"
                        >
                            <Trailer
                                url="https://www.youtube.com/watch?v=aMWQS8Ei_No"
                            />
                            <p class="text-indent h3 m-block-2">
                                <strong class="color-cinnamon-satin"
                                    >In Progress:</strong
                                > Herding Cats
                            </p>
                        </div>

                        <p class="text-indent m-block-2">
                            Herding Cats is a short, fun to play, puzzle game.
                            Use items such as the scratching post or the catnip
                            to lure the cats into their cage. Be careful, as
                            walls and traps can get in your way.
                        </p>

                        <p class="text-indent m-block-2">
                            This puzzle game is easy to pick up and play. It
                            uses turn based strategy and puzzle solving. Can you
                            to get all the cats into the cage with easily? Or
                            will they cats playful behavior get the best of you?
                        </p>
                    </div>
                    <div id="more-projects" class="text-align-right mt-10">
                        <a href="#"
                            >More<span id="more-projects-arrow">→</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="team" class="p-block-4">
            <div class="content m-auto">
                <div class="p-3">
                    <div class="h1">
                        <strong>Team</strong>
                    </div>
                </div>
            </div>
        </div>

        <Footer>
            <a href="#about" aria-label="About Section Link"> About</a>
            <a href="#projects" aria-label="Projects Section Link"> Projects</a>
            <a href="#team" aria-label="Team Section Link"> Team</a>
            <a href="#" aria-label="Blog Link" title="Coming Soon!"> Blog</a>
        </Footer>
    </body>
</html>
