---
import "./header.scss";

import Logo from "/images/Logo-1.png";

import Nav from "./nav/Nav.astro";

const { links } = Astro.props;
---

<nav id="header">
    <div
        class="d-flex justify-content-between align-items-end p-1 m-inline-auto mt-2"
    >
        <div id="nav-logo">
            <img src={Logo} aria-label="Three cats in basket logo" />
        </div>
        <Nav links={links} />
    </div>
</nav>
