@import "../../styles/colors";

nav {
    &>div {
        width: 85%;
    }
}

#nav-logo {
    @media only screen and (max-width: 850px) {
        margin: auto;
    }
}

#nav-logo>img {
    width: 20rem;
    height: auto;
}

#nav-links {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}

#nav-links>a {
    margin: 1rem;
    transition: 0.15s;

    font-weight: bold;
    letter-spacing: 0.25rem;
    color: #181717;

    &:hover {
        color: map-get($map: $colors, $key: "platinum");
        text-decoration: underline;
        text-underline-offset: 0.75rem;
    }
}

@media only screen and (min-width: 500px) {
    #nav-logo>img {
        width: 25rem;
        height: auto;
    }
}

@media only screen and (min-width: 850px) {
    nav {
        &>div {
            width: 85%;
        }
    }

    #nav-logo>img {
        width: 20rem;
        height: auto;
    }
}

@media only screen and (min-width: 1200px) {
    #nav-logo>img {
        width: 25rem;
        height: auto;
    }
}

@media only screen and (min-width: 1440px) {
    nav {
        &>div {
            width: 75%;
        }
    }

    #nav-logo>img {
        width: 35rem;
        height: auto;
    }
}

@media only screen and (min-width: 2100px) {
    #nav-logo>img {
        width: 38rem;
        height: auto;
    }
}

@media only screen and (min-width: 2400px) {
    #nav-logo>img {
        width: 42rem;
        height: auto;
    }
}