---
import FontAwesomeIcon from "./FAIcons/FAIcon.astro";
---

<div id="back-to-top">
    <a href="#">
        <FontAwesomeIcon
            icon={["fas", "angle-up"]}
            className="h5"
            style="color: #333;"
        />
    </a>
</div>

<style lang="scss">
    #back-to-top {
        display: none;
        position: fixed;
        bottom: 3rem;
        right: 3rem;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            width: fit-content;
            height: fit-content;

            padding: 0.8em;

            text-decoration: none;
            border-radius: 50%;

            background-color: rgb(164, 164, 164);
            box-shadow: 2px 2px 8px -3px black;
            border: none;

            &:hover {
                background-color: rgb(177, 177, 177);
            }
        }
    }
</style>
<script>
    window.onload = () => {
        let scroll = window.scrollY;
        let backToTop = document.getElementById("back-to-top");

        if (scroll > 5) {
            backToTop?.classList.add("d-block");
        }
    };

    window.addEventListener("scroll", function () {
        let scroll = window.scrollY;
        let backToTop = document.getElementById("back-to-top");
        if (scroll > 5) {
            backToTop?.classList.add("d-block");
        } else {
            backToTop?.classList.remove("d-block");
        }
    });
</script>
