---
const { id } = Astro.props;
---

<div id={id} class="content">
    <div>
        <div>
            <slot />
        </div>
    </div>
</div>

<style lang="scss">
    @import "../styles/colors";

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        margin-inline: auto;
        margin-bottom: 3rem;

        & > div {
            margin-top: 3rem;
            width: 100%;

            background-color: map-get($map: $colors, $key: "platinum");

            border-radius: 2rem;

            box-shadow: 7px 8px 33px -10px black;

            & > div {
                margin: 3rem;
            }
        }

        @media only screen and (min-width: 500px) {
            & > div {
                & > div {
                    margin: 5rem;
                }
            }
        }

        @media only screen and (min-width: 850px) {
            & > div {
                width: 90%;

                & > div {
                    margin: 8rem;
                }
            }
        }

        @media only screen and (min-width: 1440px) {
            & > div {
                width: 80%;

                & > div {
                    margin: 10rem;
                }
            }
        }

        @media only screen and (min-width: 2100px) {
            & > div {
                & > div {
                    margin: 15rem;
                }
            }
        }
    }
</style>
