---
const { links } = Astro.props;

import Logo from "/images/Logo-1.png";

import { DesktopMenu, MobileMenu } from "./menu/Menus";
---

<nav>
    <div
        class="d-flex justify-content-between align-items-end p-1 m-inline-auto mt-2"
    >
        <div id="nav-logo">
            <img src={Logo} aria-label="Three cats in basket logo" />
        </div>
        <DesktopMenu links={links} client:visible />
        <MobileMenu links={links} client:visible />
    </div>
</nav>
