---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav class="flex items-end justify-between py-2 px-6">
    <h2>
      <a href="/" class="text-2xl font-bold">
        {SITE_TITLE}
      </a>
    </h2>
    <div class="flex gap-5 align-bottom">
      <HeaderLink href="/" class="h-fit">Home</HeaderLink>
      <HeaderLink href="/blog" class="h-fit">Blog</HeaderLink>
    </div>
  </nav>
</header>
