---
import { toTitleCase } from '@script/utils';
type Props = {
  name: string;
  links?: {
    [key: string]: { uri: string; description?: string; extern?: boolean };
  };
};

const { name, links } = Astro.props;

const getExtern = (extern: boolean): object => {
  return extern ? { "data-astro-reload": true, target: "_blank" } : {};
};
---

<div class="w-fit h-fit">
  <em class="text-lg font-bold text-zinc-700/30">{toTitleCase(name)}</em>
  <ul class="pl-6">
    {
      links &&
        Object.entries(links).map(
          ([name, { uri, description, extern = false }]) => (
            <li class="list-disc list-outside text-zinc-700/40">
              <a
                href={uri}
                {...getExtern(extern)}
                class="text-sm font-semibold text-zinc-800/70 hover:underline"
                target="_blank"
              >
                {toTitleCase(name)}
              </a>
            </li>
          )
        )
    }
  </ul>
</div>
