---
type Props = {
  name: string;
  links?: {
    [key: string]: { uri: string; description?: string; extern?: boolean };
  };
};

const { name, links } = Astro.props;

const toTitleCase = (value: string): string => {
  return value
    .toLowerCase()
    .split(" ")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
};

const getExtern = (extern: boolean): object => {
  return extern ? { "data-astro-reload": true, target: "_blank" } : {};
};
---

<div class="w-fit h-fit">
  <em class="text-lg font-bold text-slate-700/30">{toTitleCase(name)}</em>
  <ul class="pl-6">
    {
      links &&
        Object.entries(links).map(
          ([name, { uri, description, extern = false }]) => (
            <li class="list-disc list-outside text-slate-700/40">
              <a
                href={uri}
                {...getExtern(extern)}
                class="text-sm font-semibold text-slate-800/70 hover:text-blue-300"
              >
                {toTitleCase(name)}
              </a>
            </li>
          )
        )
    }
  </ul>
</div>
