---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Admonition from "../../components/admonition/admonition.astro";
import Content from "../../components/Content.astro";

const title = "Projects";
const description =
    "Keep up to date with Totally Not a Bunch of Cats projects.";
const permalink = Astro.site + "Totally-Not-a-Bunch-of-Cats/";
import { projects } from "../../data/links.json";
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    links={projects}
>
    <Content id="main">
        <Admonition>
            <h2>Content Coming Soon!</h2>
        </Admonition>
    </Content>
</BaseLayout>
