@import "../../styles/colors";

footer {
    width: 90%;
    margin-block: 3rem;
    margin-inline: auto;
    padding-block: 1.5rem;

    &>div {
        flex-direction: column;
    }

    div {
        width: fit-content;
        margin: auto;
    }

    .social {
        transition: .5s;
    }

    a {
        transition: .2s;

        &:hover {
            color: map-get($map: $colors, $key: "platinum");
            text-decoration: underline;
            text-underline-offset: .5rem;

            i {
                transition: .2s;
                color: map-get($map: $colors, $key: "platinum") !important;
            }

            svg {
                path {
                    transition: .2s;
                    fill: map-get($map: $colors, $key: "platinum") !important;
                }
            }
        }


    }

    #copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #illustrations-credits {
        $alpha: .6;
        color: rgb(113, 113, 113, $alpha);
        a {
            
            color: rgb(121, 169, 188, $alpha);
        }
    }

    #social-links {
        margin-top: 2rem;
        flex-direction: column;

        &>div {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            gap: 2rem;

            margin-bottom: 2rem;

        }

        #socials {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;
            gap: 1rem;

            a {
                svg {
                    transition: .3s;
                }
            }

            svg {
                width: 2.2rem;
                height: auto;
            }

            &:hover {
                color: map-get($map: $colors, $key: "platinum");
            }
        }
    }
}



@media only screen and (min-width: 60em) {
    footer {
        div {
            margin: 0;
        }

        &>div {
            margin: 0;
            width: 100%;
            flex-direction: row;

            &>div {
                &>a {
                    &:hover {
                        svg {
                            fill: map-get($map: $colors, $key: "platinum");
                        }
                    }
                }
            }

        }

        #social-links {
            margin: 0;
            flex-direction: row;

            &>div {
                flex-direction: column;

                margin-left: 2.5rem;

                gap: .7rem;
            }
        }
    }
}

@media only screen and (min-width: 90em) {
    footer {
        width: 80%;

        &>div {
            flex-direction: row;
        }

        #social-links {
            svg {
                width: 3rem;
            }


        }
    }
}