---
import "./footer.scss";
import "../../scss/main.scss";
import Logo from "../Logo/Logo.astro";
import FAIcon from "../FAIcon.astro";

const { links } = Astro.props;
---

<footer id="footer">
    <div class="d-flex justify-content-between">
        <div
            id="social-links"
            class="d-flex"
            aria-label="Social Media Links and Nav Links"
        >
            <div id="socials" class="d-flex" aria-label="Social Media Links">
                <a
                    href="https://github.com/Totally-Not-a-Bunch-of-Cats"
                    target="_blank"
                    aria-label="Github Link"
                >
                    <FAIcon icon="fab github" klass="social" />
                </a>
            </div>
            <div>
                {
                    links.map((data) => (
                        <a
                            href={data.link}
                            aria-label={data.aria}
                            title={data.title !== "" ? data.title : ""}
                        >
                            {data.text}
                        </a>
                    ))
                }
            </div>
        </div>
        <div id="copyright" aria-label="Copyright">
            &copy; 2022 Totally Not a Bunch of Cats - All rights reserved.
        </div>
        <div>
            <a href="#" aria-label="Back to Top">
                <Logo />
            </a>
        </div>
    </div>
</footer>
