---
import "./footer.scss";

import Logo from "../Logo/Logo.astro";
import FAIcon from "../FAIcons/FAIcon.astro";

const { links } = Astro.props;

const permalink = "/Totally-Not-a-Bunch-of-Cats/";
---

<footer id="footer">
    <div class="d-flex justify-content-between">
        <div
            id="social-links"
            class="d-flex"
            aria-label="Social Media Links and Nav Links"
        >
            <div id="socials" class="d-flex" aria-label="Social Media Links">
                <a
                    class="h5 m-0 p-0"
                    href="https://github.com/Totally-Not-a-Bunch-of-Cats"
                    target="_blank"
                    aria-label="Github Link"
                >
                    <FAIcon icon={["fab", "github"]} klass="social" />
                </a>
            </div>
            <div>
                {
                    links.map((data) => (
                        <a
                            class="h5 m-0 p-0"
                            href={permalink + data.link}
                            aria-label={data.aria}
                            title={data.title ? data.title : ""}
                        >
                            {data.text}
                        </a>
                    ))
                }
            </div>
        </div>
        <div class="m-0 p-0" id="copyright" aria-label="Copyright">
            <div>&copy; 2022 Totally Not a Bunch of Cats - All rights reserved.</div>
            <span id="illustrations-credits">Illustrations by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a href="https://icons8.com/illustrations">Ouch!</a></span>
        </div>
        <div>
            <a href="#" aria-label="Back to Top">
                <Logo />
            </a>
        </div>
    </div>
</footer>
