.trailer {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;

    width: fit-content;
    height: fit-content;
    margin-inline: auto;
}

.trailer-temp {
    &>div {
        $scale: 1.8rem;
        width: (16 * $scale);
        height: (9 * $scale);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

iframe {
    $scale: 1.8rem;
    width: (16 * $scale);
    height: (9 * $scale);

    box-shadow: 7px 8px 33px -14px black;
}

@media only screen and (min-width: 500px) {
    .trailer-temp {
        &>div {
            $scale: 2.5rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 2.5rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}

@media only screen and (min-width: 850px) {
    .trailer-temp {
        &>div {
            $scale: 3.25rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 3.25rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}

@media only screen and (min-width: 1200px) {
    .trailer-temp {
        &>div {
            $scale: 4.25rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 4.25rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}

@media only screen and (min-width: 1440px) {
    .trailer-temp {
        &>div {
            $scale: 4.75rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 4.75rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}

@media only screen and (min-width: 1900px) {
    .trailer-temp {
        &>div {
            $scale: 5.5rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 5.5rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}

@media only screen and (min-width: 2100px) {
    .trailer-temp {
        &>div {
            $scale: 6rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 6rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}