@import "_about";
@import "_projects";
@import "_team";

/* Text Boxes */
.textbox {
    width: fit-content;
    height: fit-content;

    border-radius: 1.5rem;

    padding: .5rem;
    margin: auto;
    border: 2px dashed white;

}

.textbox>div {
    background-color: map-get($map: $colors, $key: "platinum");
    border-radius: 1rem;

    font-size: 2rem;

    padding: 2rem;
    box-shadow: 7px 8px 33px -10px black;
}

// Adomition


.content {
    width: 100%;

    &>div {
        padding: 3rem;


        background-color: map-get($map: $colors, $key: "platinum");

        border-radius: 2rem;

        box-shadow: 7px 8px 33px -10px black;
    }
}

.seporator {
    width: 70%;
    height: .25rem;

    margin-block: 6rem;
    margin-inline: auto;
    border-radius: 1rem;
}

.header {
    margin-bottom: 6rem;
}

.trailer {
    padding: 1rem;
    background-color: white;

    border-radius: 1rem;
}

.trailer-temp {
    &>div {
        $scale: 1.8rem;
        width: (16 * $scale);
        height: (9 * $scale);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

iframe {
    $scale: 1.8rem;
    width: (16 * $scale);
    height: (9 * $scale);

    box-shadow: 7px 8px 33px -14px black;
}

#more-projects {
    transition: .5s;
    width: fit-content;
    background-color: map-get($map: $colors, $key: "cinnamon-satin");

    padding-inline: 1.75rem;
    padding-block: 1.25rem;
    border-radius: 1rem;
    margin-inline: auto;

    a {
        font-size: 1.75rem !important;
        transition: .5s;
        letter-spacing: .25rem;

        color: map-get($map: $colors, $key: "platinum");

        &:hover {
            color: map-get($map: $colors, $key: "platinum");
        }
    }

    #more-projects-arrow {
        display: none;
    }
}

// Media Queries
@media only screen and (min-width: 500px) {
    .content {
        &>div {
            padding: 5rem;
        }
    }

    .trailer-temp {
        &>div {
            $scale: 2.5rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 2.5rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }
}

@media only screen and (min-width: 850px) {
    .content {
        width: 90%;

        &>div {
            padding: 8rem;
        }
    }

    #more-projects {
        background-color: map-get($map: $colors, $key: "platinum");
        margin: 0;
        margin-left: auto;

        a {
            font-size: 1.5rem !important;
            text-decoration: underline;
            text-underline-offset: .75rem;

            color: black;

            &:hover {
                color: map-get($map: $colors, $key: "cinnamon-satin");
                margin-right: 1rem;
                letter-spacing: .5rem;
            }
        }

        #more-projects-arrow {
            display: inline;
        }
    }

    .trailer-temp {
        &>div {
            $scale: 3.25rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 3.25rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }

}

@media only screen and (min-width: 1200px) {
    .trailer-temp {
        &>div {
            $scale: 4.25rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 4.25rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }

    #more-projects {
        a {
            font-size: 2rem !important;
            letter-spacing: .25rem;

            &:hover {
                margin-right: 1rem;
                letter-spacing: .5rem;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .content {
        width: 80%;

        &>div {
            padding: 10rem;
        }
    }

    .trailer-temp {
        &>div {
            $scale: 4.75rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 4.75rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }

    #more-projects {
        a {
            letter-spacing: .25rem;

            &:hover {
                margin-right: 1rem;
                letter-spacing: .5rem;
            }
        }
    }
}

@media only screen and (min-width: 1900px) {
    .trailer-temp {
        &>div {
            $scale: 5.5rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 5.5rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }

    #more-projects {
        a {
            font-size: 2rem !important;
        }
    }
}

@media only screen and (min-width: 2100px) {
    .content {
        &>div {
            padding: 15rem;
        }
    }

    .trailer-temp {
        &>div {
            $scale: 6rem;
            width: (16 * $scale);
            height: (9 * $scale);
        }
    }

    iframe {
        $scale: 6rem;
        width: (16 * $scale);
        height: (9 * $scale);
    }

    #more-projects {
        a {
            font-size: 2.5rem !important;
        }
    }
}