/* Text Boxes */
.textbox {
    width: fit-content;
    height: fit-content;

    border-radius: 1.5rem;

    padding: .5rem;
    margin: auto;
    border: 2px dashed white;

}

.textbox>div {
    background-color: map-get($map: $colors, $key: "platinum");
    border-radius: 1rem;

    font-size: 2rem;

    padding: 2rem;
    box-shadow: 7px 8px 33px -10px black;
}

#nextjs-text {
    width: 10rem;
    height: 5rem;
}