a {
    font-size: 1.75rem !important;
    text-decoration: none;

    color: black;
}

p {
    font-size: 1.25rem;
}

.h1 {
    font-size: 5rem !important;
}

.h2 {
    font-size: 4rem !important;
}

.h3 {
    font-size: 3rem !important;
}