@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "_colors";
@import "_format";

* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    font-family: 'Poppins', sans-serif;
    color: #181717
}

body {
    background-color: map-get($map: $colors, $key: "green-sheen");
}

strong {
    font-size: inherit;
    color: inherit;
}

em {
    font-size: inherit;
    color: inherit;
}

span {
    color: inherit;
    font-size: inherit;
}

.d-flex {
    display: flex
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

@each $type in "justify",
"align" {

    @each $specifier in "content",
    "items",
    "self" {

        @each $value in start,
        center,
        end {
            .#{$type}-#{$specifier}-#{$value} {
                #{$type}-#{$specifier}: $value  !important;
            }
        }
    }
}

@each $context in "content",
"items",
"self" {

    @each $key,
    $value in ("between": space-between, "around": space-around, "evenly": space-evenly) {
        .justify-#{$context}-#{$key} {
            justify-#{$context}: #{$value} !important;
        }
    }
}

/* Navigation */



#filler {
    height: 150vh;
}

@for $i from 1 through 20 {
    .w-#{$i*5}p {
        width: #{$i*5%} !important;
    }
}

@for $i from 1 through 5 {
    .w-#{$i*5} {
        width: #{$i*5}rem !important;
    }
}

@each $typekey,
$type in ("margin": "m",
    "padding": "p") {

    @each $dirkey,
    $dir in ("":"",
        "-top":"t",
        "-bottom":"b",
        "-left":"l",
        "-right":"r",
        "-inline":"-inine",
        "-block":"-block") {
        @for $i from 1 through 6 {
            .#{$type}#{$dir}-#{$i} {
                #{$typekey}#{$dirkey}: #{$i}rem !important;
            }
        }
    }

    .#{$type}-auto {
        #{$typekey}: auto !important;
    }

    .#{$type}-inline-auto {
        #{$typekey}-inline: auto !important;
    }

    .#{$type}-block-auto {
        #{$typekey}-block: auto !important;
    }
}

@each $typekey,
$type in ("margin": "m",
    "padding": "p") {

    @each $dirkey,
    $dir in ("":"",
        "-top":"t",
        "-bottom":"b",
        "-left":"l",
        "-right":"r",
        "-inline":"-inine",
        "-block":"-block") {
        @each $i in (10, 15) {
            .#{$type}#{$dir}-#{$i} {
                #{$typekey}#{$dirkey}: #{$i}rem !important;
            }
        }
    }
}


@import "_borders";
@import "_components";
@import "_nav";
@import "_footer";