---
import BaseLayout from "../../layouts/BaseLayout.astro";

import Admonition from "../../components/admonition/admonition.astro";
import Content from "../../components/Content.astro";

const title = "Privacy";
const description =
    "Privacy Policy for Corralling Cats";
const permalink = "/Totally-Not-a-Bunch-of-Cats/";
import { privacy } from "../../data/links.json";

const projectDetails = (await Astro.glob("./**/*.{md,mdx}")).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout
    title={title}
    description={description}
    permalink={permalink}
    links={privacy}
>
    <Content id="Privicy Policy">
        <p class="text-indent mb-4 h5 m-0 p-0">
            <h5>This App Privacy Policy describes:</h5>
            The types of information we may collect when you download, install, 
            register with, access, or otherwise use the App. Our practices for collecting, 
            using, protecting and sharing such information.
            <h5></h5>
            If you do not want Totally Not a Bunch of Cats LLC to collect, store, use or share your information in the ways described in this App Privacy Policy, 
            do not play or use the App. 
            <h5></h5>
            By downloading, registering with, or using this App, you agree to this privacy policy. 
            This policy may change from time to time (see “CHANGES TO OUR PRIVACY POLICY” below). 
            We will prompt you with any changes to the privacy policy with both a simple break down and a detailed policy.
            Your continued use of this App after we make changes and notified your is deemed to be acceptance of those changes.
            <h5></h5>
            Information We Collect and How We Collect It
            We do not directly collect information but indirectly collect information through the google play store/interface and the unity adsense and anylitics software.
            <h5></h5>
            This information is likely to include but is not limited too Ip adress, country of installiation. Your mobile device type, operation system, google and apple account indicatiors. (depending on device installed)
            details about purchases. 
            <h5></h5>
            Third-party information collection. When you use the App or its content, certain third parties may use automatic information collection technologies 
            to collect information about you or your device. These third parties may include:
            Advertisers, ad nextworks and ad servers. Analytics companies, mobile device manufacturer, service provider. These third parties may use tracking tech to collect ther own information about you and this app.
            
            <h5>How we may use the information we collect</h5>

            We will use this information to operate, improve and optimize the App and other products made by us. To provide technical support.

            <h5>How we may share your information</h5>
            We have no intention of sharing any of your personal information with any third parties that are not the google play store, apple store, unity adsense or any other third party we work with to deploy this game. 
            We wont sell it, nor attempt ot profit off of it. 
            Your information may be  shared by third parties in the course of our work, especially the ones listed above, we work with in the course of collecting information to make our game better.
            

            <h5>California Online Privacy Protection Act notice</h5>
            Sharing with third parties for direct marketing purposes: California residents have the right to request the identity of any third parties to whom the resident’s personal information was shared, 
            if such sharing was to enable the third party’s direct marketing efforts. <h5></h5>If you are a California resident and wish to make such a request, please submit your request to totallynotabunchofcatshelp@gmail.com OR to 
            opt out of having your personal information shared with third parties for their direct marketing purposes, please email us at totallynotabunchofcatshelp@gmail.com.
            <h5></h5>
            How we respond to “Do Not Track” signals: We are committed to providing you with meaningful choices about the information collected in connection with the App for third-party purposes, 
            and that is why we provide information in this App Privacy Policy about how to prevent the delivery of targeted ads. We do not, however, recognize or respond to browser-initiated Do Not Track signals, 
            as the Internet industry is currently still working on Do Not Track standards, implementations and solutions. To learn more about Do Not Track signals, you can visit allaboutdnt.com.

            <h5>Our policies concerning children</h5>
            The App is not intended for children under the age of 13 and we do not knowingly collect any personal information from children under 13. 
            <h5></h5>
            If we learn that we have inadvertently gathered personal information from a child under 13, we will take reasonable measures to promptly remove that information from our records. 

            <h5>How long we keep your information</h5>
            We will not retain your information for longer than nessary for business or legal purposes.

        </p>
    </Content>
</BaseLayout>
